﻿@import url("http://fast.fonts.net/t/1.css?apiType=css&projectid=ab43d257-5486-4207-89b0-eaf0daf6b2b0");
@font-face{
font-family:"HelveticaNeueW01-55Roma";
src:url("b7693a83-b861-4aa6-85e0-9ecf676bc4d6.eot?#iefix");
src:url("b7693a83-b861-4aa6-85e0-9ecf676bc4d6.eot?#iefix") format("eot"),url("bcf54343-d033-41ee-bbd7-2b77df3fe7ba.woff") format("woff"),url("b0ffdcf0-26da-47fd-8485-20e4a40d4b7d.ttf") format("truetype"),url("da09f1f1-062a-45af-86e1-2bbdb3dd94f9.svg#da09f1f1-062a-45af-86e1-2bbdb3dd94f9") format("svg");
}
@font-face{
font-family:"HelveticaNeueW01-57Cn";
src:url("ecaa98fe-425a-42de-846b-c235f0dbc449.eot?#iefix");
src:url("ecaa98fe-425a-42de-846b-c235f0dbc449.eot?#iefix") format("eot"),url("842088d0-1ae2-40d0-8561-3c95761ba7a6.woff") format("woff"),url("c74505d5-13e8-47ed-94a8-630aab4da3e6.ttf") format("truetype"),url("6cd480d1-47d0-48b4-86bd-283db2cb9235.svg#6cd480d1-47d0-48b4-86bd-283db2cb9235") format("svg");
}
@font-face{
font-family:"HelveticaNeueW01-67MdCn 692710";
src:url("3a605871-b94d-4161-a394-bb2cfc975df7.eot?#iefix");
src:url("3a605871-b94d-4161-a394-bb2cfc975df7.eot?#iefix") format("eot"),url("aef05e22-e1d4-4e59-bc2e-a71c13c26cca.woff") format("woff"),url("b785b1cf-24fa-44c9-8c93-d8e2d6912c47.ttf") format("truetype"),url("5ab0c585-fb4b-43d9-abb0-b92f452b1284.svg#5ab0c585-fb4b-43d9-abb0-b92f452b1284") format("svg");
}
@font-face{
font-family:"HelveticaNeueW01-77BdCn 692722";
src:url("83d5bc89-af33-46a9-8fe3-15d87784f50e.eot?#iefix");
src:url("83d5bc89-af33-46a9-8fe3-15d87784f50e.eot?#iefix") format("eot"),url("102ab74c-0e84-4fe5-a17a-b20fb643591a.woff") format("woff"),url("1d146b29-55e2-485b-96aa-5cb628e7e9eb.ttf") format("truetype"),url("d90b3358-e1e2-4abb-ba96-356983a54c22.svg#d90b3358-e1e2-4abb-ba96-356983a54c22") format("svg");
}

.jacobs {
     font-family: "HelveticaNeueW01-57Cn", Helvetica, Verdana, sans-serif;
     font-size: 21px;
     line-height: 26px;
     word-spacing: 0em;
     letter-spacing: 0.015em;
     margin-top:0px\9;
}

.jacobs h1 {
	font-family: "HelveticaNeueW01-67MdCn 692710", "HelveticaNeueW01-67MdCn", Helvetica, Verdana, sans-serif;
	font-size: 60px;
	/*background-color: #f2f2f2;*/
	line-height: 36px;
	word-spacing: 0em;
	letter-spacing: 0.015em;
}
.jacobs h2 {
	font-family: "HelveticaNeueW01-67MdCn 692710", "HelveticaNeueW01-67MdCn", Helvetica, Verdana, sans-serif;
	font-size: 40px;
	font-weight: normal;
	line-height: 58px;
	word-spacing: 0em;
	letter-spacing: 0.015em;
}
    .jacobs h3 {
        font-family: "HelveticaNeueW01-57Cn", Helvetica, Verdana, sans-serif;
        font-size: 28px;
	    font-weight: bold;
	    line-height: 32px;
	    word-spacing: 0em;
	    letter-spacing:0;
    }

.jacobs h6 {
	font-family: "HelveticaNeueW01-57Cn", Helvetica, Verdana, sans-serif;
	font-size: 16px;
	font-weight: normal;
	line-height: 20px;
	word-spacing: 0em;
	letter-spacing: 0.015em;
}

