/* General styles for all menus */
.cbp-spmenu {
	background: #fff;
	position: fixed;
}

.cbp-spmenu a.sticky-nav-toggle {
	display: block;
	color: #fff;
	font-size: 1.1em;
	font-weight: 300;
    background:#efefef;
}

.toggle {
    position:relative;
    width:80px;
}
    .toggle::after {
            display: inline-block;
    content: " ";
    height: 82px;
    width: 40px;
    position: absolute;
    right: 20px;
    transform: skewX(-25deg);
    -ms-transform: skewX(-25deg);
    -webkit-transform: skewX(-25deg);
    border-left: 1px solid #ccc;
    background: #efefef;
    border-bottom: 1px solid #ccc;
    }

.cbp-spmenu a:hover {
	/*background: #258ecd;*/
}

.cbp-spmenu a:active {
	/*background: #afdefa;
	color: #47a3da;*/
}

/* Orientation-dependent styles for the content of the menu */

.cbp-spmenu-vertical {
	width: 240px;
	height: 100%;
	top: 0;
	z-index: 1000;
}

.cbp-spmenu-vertical a.sticky-nav-toggle {
	border-bottom: 1px solid #258ecd;
	padding: 1em;
}

.cbp-spmenu-horizontal {
	width: 640px;
	/*height: 320px;*/
    height:270px;
	left: 0;
	z-index: 1000;
	overflow: hidden;
}

.cbp-spmenu-horizontal a.sticky-nav-toggle {
	float: left;
	max-width: 170px;
	padding: 18px 20px 20px 40px;
	border-left: 1px solid #258ecd;
    cursor:pointer;
}

    .cbp-spmenu-horizontal a.sticky-nav-toggle .icon {
        font-size:18px;
        font-weight:bold;
    }

/* Vertical menu that slides from the left or right */

.cbp-spmenu-left {
	left: -240px;
    height:auto; /*bholli*/
}

.cbp-spmenu-right {
	right: -240px;
}

.cbp-spmenu-left.cbp-spmenu-open {
	left: 0px;
}

.cbp-spmenu-right.cbp-spmenu-open {
	right: 0px;
}

/* Horizontal menu that slides from the top or bottom */

.cbp-spmenu-top {
	top: -150px;
}

.cbp-spmenu-bottom {
	/*bottom: -255px;*/
    bottom:-205px;
}

.cbp-spmenu-top.cbp-spmenu-open {
	top: 0px;
}

.cbp-spmenu-bottom.cbp-spmenu-open {
	bottom: 0px;
}

/* Push classes applied to the body */

.cbp-spmenu-push {
	overflow-x: hidden;
	position: relative;
	left: 0;
}

.cbp-spmenu-push-toright {
	left: 240px;
}

.cbp-spmenu-push-toleft {
	left: -240px;
}

/* Transitions */

.cbp-spmenu,
.cbp-spmenu-push {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

/* Example media queries */

@media screen and (max-width: 55.1875em){

	.cbp-spmenu-horizontal {
		font-size: 75%;
		height: 110px;
	}

	.cbp-spmenu-top {
		top: -110px;
	}

	.cbp-spmenu-bottom {
		bottom: -110px;
	}

}

@media screen and (max-height: 26.375em){

	.cbp-spmenu-vertical {
		font-size: 90%;
		width: 190px;
	}

	.cbp-spmenu-left,
	.cbp-spmenu-push-toleft {
		left: -190px;
	}

	.cbp-spmenu-right {
		right: -190px;
	}

	.cbp-spmenu-push-toright {
		left: 190px;
	}
}