﻿
/*.bg-dark {
    background-color:#00338b;
}*/
html, 
body {
  height: 100%;
  min-height: 100%;
}
body {
    background: #f2f2f2;
}

    body.home {
        position:relative;
        margin: 0;
        padding: 0;
    }

header .nav-bar .nav-bar {
    z-index: 9999;
    position: relative;
}

@media all and (min-width: 768px) {
    /*top nav*/
    .sticky-nav-home-mobile {
        display:none;
    }
    .module.widget-handle {
        border-left:0;
        padding:0 24px 0 0;
    }
    .jacobs-nav {
        background:#fff;
        padding-right:60px;
    }
    .jacobs-logo {
        background:#fff;
    }
    .nav-bar {
        background:#efefef;
    }
    .menu a {
        color: #000 !important;
    }

        .menu a:hover {
            color: #00338b !important;
        }

    .menu > li ul {
        position: fixed;
        left: 0 !important;
        /**/ width: 100% !important;
        padding-left: 320px;
        height: 280px;
    }

        .menu > li ul.nav-join-us {
            padding-left: 290px;
        }

            .menu > li ul.nav-join-us ul {
                padding-top: 20px !important;
            }

            .menu > li ul.nav-join-us li, .menu > li ul.nav-join-us li ul {
                /*width:100% !important;  */
            }

            .menu > li ul.nav-join-us a {
                /*font-family: "HelveticaNeueW01-67MdCn 692710", "HelveticaNeueW01-67MdCn", Helvetica, Verdana, sans-serif;*/
            font-size: 14px;
                font-weight: normal;
            }

        .menu > li ul.nav-learn-about-us {
            padding-left: 380px;
            padding-top: 20px;
        }

            .menu > li ul.nav-learn-about-us a {
                font-weight: normal;
            }

            .menu > li ul.nav-learn-about-us ul.nav-sub {
                padding-left: 0;
                margin-left: 515px;
            }

                .menu > li ul.nav-learn-about-us ul.nav-sub li ul {
                    padding-top: 20px !important;
                }

                    .menu > li ul.nav-learn-about-us ul.nav-sub li ul a {
                        font-size:14px;
                    }


        .menu > li ul.nav-see-our-results {
            padding-left: 515px;
            padding-top: 20px;
        }

            .menu > li ul.nav-see-our-results a {
                font-weight: normal;
            }

            .menu > li ul.nav-see-our-results ul.nav-sub {
                padding-left: 0;
                margin-left: 670px;
            }

                .menu > li ul.nav-see-our-results ul.nav-sub li ul {
                    padding-top: 20px !important;
                }

                    .menu > li ul.nav-see-our-results ul.nav-sub li ul a {
                        font-size:14px;
                    }




    .menu > li ul.nav-investors {
            padding-left: 655px;
        }

            .menu > li ul.nav-investors ul {
                padding-top: 20px !important;
            }

            .menu > li ul.nav-investors li, .menu > li ul.nav-investors li ul {
                /*width:100% !important;  */
            }

            .menu > li ul.nav-investors a {
                /*font-family: "HelveticaNeueW01-67MdCn 692710", "HelveticaNeueW01-67MdCn", Helvetica, Verdana, sans-serif;*/
            font-size: 14px;
                font-weight: normal;
            }
}
    .menu input.search {
        height: 41px;
        margin-top: 20px;
        border: 1px solid #efefef;
        box-shadow: -1px 0px 8px rgba(0,0,0,.3) inset;
        outline: none;
        line-height:20px;
        font-size:14px;
        font-weight:normal;
        padding-left:20px;
        padding-right:20px;
        font-family: "HelveticaNeueW01-67MdCn 692710", "HelveticaNeueW01-67MdCn", Helvetica, Verdana, sans-serif;
        color:#222;
    }
    
    .menu input.search::-webkit-input-placeholder { /* Safari, Chrome and Opera */
      text-transform:none;
      color:#222;
      font-size:14px;
      font-weight:normal;
      letter-spacing:0;
    }

    .menu input.search:-moz-placeholder { /* Firefox 18- */
      text-transform:none;
      color:#222;
      font-size:14px;
      font-weight:normal;
      letter-spacing:0;
    }

    .menu input.search::-moz-placeholder { /* Firefox 19+ */
      text-transform:none;
      color:#222;
      font-size:14px;
      font-weight:normal;
      letter-spacing:0;
    }

    .menu input.search:-ms-input-placeholder { /* IE 10+ */
      text-transform:none;
      color:#222;
      font-size:14px;
      font-weight:normal;
      letter-spacing:0;
    }

    .menu input.search::-ms-input-placeholder { /* Edge */
      text-transform:none;
      color:#222;
      font-size:14px;
      font-weight:normal;
      letter-spacing:0;
    }

    .menu input.search:placeholder-shown { /* Standard one last! */
      text-transform:none;
      color:#222;
      font-size:14px;
      font-weight:normal;
      letter-spacing:0;
    }


/*google cse*/
.menu li.search-form {
    width:171px;
    margin-top:8px;
}
.gsc-input input.gsc-input {
    background-color:#f5f5f5 !important;
}
    .menu li.search-form table {
        margin-bottom:0 !important;
    }
    .menu li.search-form .gsib_a {
        padding:0 !important;
    }
    .menu li.search-form .gsib_b {
        display:none;
    }
    .menu li.search-form td, .menu li.search-form th {
        line-height:inherit !important;
    }
    .menu li.search-form div.gsc-input-box, .menu li.search-form div.gsc-input-box:hover, .menu li.search-form div.gsc-input-box:active, .gsc-input-box-hover {
        border:0;
        height:auto;
        background:none;
        box-shadow:none;
    }
    input.gsc-input {
        height: 41px !important;
        margin-top: 20px;
        border: 1px solid #efefef;
        box-shadow: -1px 0px 8px rgba(0,0,0,.3) inset;
        outline: none;
        line-height:20px !important;
        font-size:14px !important;
        font-weight:normal !improtant;
        padding-left:20px !important;
        padding-right:20px !important;
        font-family: "HelveticaNeueW01-67MdCn 692710", "HelveticaNeueW01-67MdCn", Helvetica, Verdana, sans-serif !important;
        color:#222;
    }
    
    input.gsc-input::-webkit-input-placeholder { /* Safari, Chrome and Opera */
      text-transform:none;
      color:#222;
      font-size:14px;
      font-weight:normal;
      letter-spacing:0;
    }

    input.gsc-input:-moz-placeholder { /* Firefox 18- */
      text-transform:none;
      color:#222;
      font-size:14px;
      font-weight:normal;
      letter-spacing:0;
    }

    input.gsc-input::-moz-placeholder { /* Firefox 19+ */
      text-transform:none;
      color:#222;
      font-size:14px;
      font-weight:normal;
      letter-spacing:0;
    }

    input.gsc-input:-ms-input-placeholder { /* IE 10+ */
      text-transform:none;
      color:#222;
      font-size:14px;
      font-weight:normal;
      letter-spacing:0;
    }

    input.gsc-input::-ms-input-placeholder { /* Edge */
      text-transform:none;
      color:#222;
      font-size:14px;
      font-weight:normal;
      letter-spacing:0;
    }

    input.gsc-input:placeholder-shown { /* Standard one last! */
      text-transform:none;
      color:#222;
      font-size:14px;
      font-weight:normal;
      letter-spacing:0;
    }
.gsc-search-button {
    display:none;
}
/* start mobile search */
.mobile-search-form {
    position: absolute;
    top: 60px;
    z-index: 9;
    display:none;
    width:100%
}
.mobile-search-form-open {
    display:inline-block;
}
.mobile-search-form .search-form table {
        margin-bottom:0 !important;
    }
    .mobile-search-form .search-form .gsib_a {
        padding:0 !important;
    }

.mobile-search-form {
    z-index:999;
    position:relative;
    padding:10px 5px 10px 15px !important;
    text-align:center;
    margin:0 auto;
    top:0px;
    background:#f5f5f5;
}
    .mobile-search-form .search-form .gsib_b {
        display:none;
    }
    .mobile-search-form .search-form td, .mobile-search-form .search-form th {
        line-height:inherit !important;
    }
    .mobile-search-form .search-form div.gsc-input-box, .mobile-search-form .search-form div.gsc-input-box:hover, .mobile-search-form .search-form div.gsc-input-box:active, .gsc-input-box-hover {
        border:0;
        height:auto;
        background:none;
        box-shadow:none;
    }

/*end mobile search*/

/*end google cse*/


    .menu li a {
        font-family: "HelveticaNeueW01-67MdCn 692710", "HelveticaNeueW01-67MdCn", Helvetica, Verdana, sans-serif;
        font-size: 18px;
        letter-spacing:0em;
        color:#202020;
        opacity:1;
        text-transform:none;
        font-weight:normal;
    }

    .menu li:hover a {
        color:#00338b;
    }

    .menu .has-dropdown {
        padding-right:0;
    }

        .menu .has-dropdown:after {
            display:none;
        }
    /*
    .menu > li:hover > div.jacobs-dropdown {
        visibility:visible;
        position:relative;
        width:100px;
        height:auto;
        background:#000;
    }

    .flex-control-nav {
            display: none;
        }

        .mainNav ul,.mainNav li{
          margin:0px;
          padding:0px;
          list-style:none;
        }
        .mainNav .level1{
          display:inline-block;
          vertical-align:top;
        } 
        .mainNav .level1 > li{
          display:inline-block;
          float:left;
          padding-left:27px;
        }
        .mainNav .level1 > li > a{
          color: #000000;
          font-family: "HelveticaNeueW01-67MdCn 692710",Arial,sans-serif;
          font-size: 18px;
          line-height: 20px;
          padding-bottom: 25px;
          font-weight:normal;
        }
        .mainNav .level1 > li > a b{
          font-weight:normal;
          font-size:14px;
        }
        .mainNav .level1 li:hover > a{
          color:#00338D;
          text-decoration:none;
        }
        .mainNav .level2{
          display:none;
          padding-top:40px;
          margin-top:-30px;
          position:relative;
          height:220px;
          text-align:left;
        } 

        .mainNav li:hover .drop .level2{
          display:block;
        }

        .mainNav.scrolling .level1 li:hover > a {
          color: #000000;
        }

        .mainNav.scrolling li:hover .drop,
        .mainNav.scrolling li:hover .drop .level2{
          display:none;
        }

        .mainNav li .drop .level2 a{
          color:#000000;
          font-family:"HelveticaNeueW01-67MdCn 692710","HelveticaNeueW01-67MdCn";
          font-size:14px;
          height:24px;
        }

        .mainNav li .drop .level2 a:hover{
          color:#00338D;
        }
        .mainNav .drop{
          display:none;
          position:fixed;
          left:0;
          top:82px;
          width:100%;
          min-height:280px;
          line-height:34px;
          background:rgba(225,225,225,.55);
        }
        .mainNav li:first-child .drop{
          padding-left:385px;
        }
        .mainNav li:first-child + li .drop{
          padding-left:464px;
        } 
        .mainNav li:first-child + li + li .drop {
          padding-left:599px;
        } 
        .mainNav li:first-child + li + li + li .drop{
          padding-left:737px;
        } 
        .mainNav li:hover .drop{
          display:block;
        }
        .mainNav li .drop .level2 .has-children > a{
          font-size:18px;
          display:block;
          max-width:145px;
          font-family:"HelveticaNeueW01-57Cn";
          background: transparent url(../design/arrowNavExpand.png) scroll right center no-repeat;
          height:34px;
        }
        .mainNav li .drop .level2 .has-children > a.unhovered {
          background:transparent;
        }
        .mainNav li .drop .level2 .new{
          display:inline-block;
          float:left;
          width:250px;
        }
        .mainNav .level3{
          display:none;
          position:absolute;
          left:165px;
          top:30px;
          bottom:0px;
          padding-top:10px;
          padding-left:20px;
          padding-top:15px;
          background:transparent url(../design/nav_calloutbg2.png) scroll 0 0 repeat;
          right:0px;
        }
        .mainNav li .drop .level2 li:hover .level3{
          display:block;
        }
        .mainNav li .drop .level3 a,
        .mainNav li .drop .level2 .has-children .level3 a{
          font-size:14px;
        }
        .mainNav .new2{
          display:inline-block;
          float:left;
          width:225px;
        }
        .mainNav .level1 li.selected + li,
        .mainNav .level1 li.expanded + li {
          position: absolute;
          top: 11px;
          right: 235px;
        }

        .mainNav .level1 li.selected + li + li,
        .mainNav .level1 li.expanded + li + li {
          position: absolute;
          top: 11px;
          right: 160px;
        }

.subNav li {
    margin-right:27px;
}

.drop {
-webkit-transition: all 0.3s ease;                  
    -moz-transition: all 0.3s ease;                 
    -o-transition: all 0.3s ease;   
    -ms-transition: all 0.3s ease;          
    transition: all 0.3s ease;
}*/
        /***End new main nav**/

.section-title {
     box-shadow: 0 0 8px rgba(0,0,0,.25);
}

.section-title a, .section-title a:hover {
    color:#222;
    height:auto;
}

.jacobs section h2 {
font-family: "HelveticaNeueW01-67MdCn 692710", "HelveticaNeueW01-67MdCn", Helvetica, Verdana, sans-serif;
    font-size: 48px;
    background-color: #f2f2f2;
    line-height: 54px;
    word-spacing: 0em;
    letter-spacing: 0.015em;
    font-weight:bold;
}

.feature.boxed.cast-shadow-light h4 {
        font-family: "HelveticaNeueW01-57Cn", Helvetica, Verdana, sans-serif;
    font-size: 20px;
    line-height: 24px;
}

.feature.boxed.cast-shadow-light span {
    font-size:16px;
}

.feature.boxed.cast-shadow-light img.image-large {
    
}

.image-tile h3 {
    font-family: "HelveticaNeueW01-67MdCn 692710", "HelveticaNeueW01-67MdCn", Helvetica, Verdana, sans-serif;
    letter-spacing:0;
    text-transform:initial;
}

.module.right.end {
    padding-right:0;
}
/**/
.nav-slant:before {
    display: inline-block;
    content:" ";
    height: 82px;
    width:40px;
    position: absolute;
    left: -56px;
    transform:skewX(-25deg);
    -ms-transform:skewX(-25deg);
    -webkit-transform:skewX(-25deg);
    border-left: 1px solid #ccc;
    background:#efefef;
    /*border-bottom:1px solid #ccc;*/
}

.nav-slant {
    background:#efefef;
    /*border-bottom:1px solid #ccc;*/
    border-left:0;
}

.module.widget-handle .menu li a {
    font-size:14px !important;
}

.main-container .nav-bar {
    position:relative;
}

.main-container .nav-bar .menu li a {
    font-size:12px;
    text-transform:uppercase;
    color:#00338b;
}

/**/.module.widget-slant-blue {
    background:#00338b!important;
    width:285px;
    border:1px solid #00338b;
    margin-right:25px;
}

.module.widget-slant-blue:after {
    /*display: inline-block;
    content:" ";
    height: 55px;
    width:40px;
    position:absolute;
    left:260px;
    top:0;
    transform:skewX(-25deg);
    -ms-transform:skewX(-25deg);
    -webkit-transform:skewX(-25deg);
    background:#00338b;
    
    border:1px solid #00338b;*/

    display: block;
    content:" ";
    height: 55px;
    width:40px;
    position:relative;
    margin-top:-34px;
    margin-left:224px;
    transform:skewX(-25deg);
    -ms-transform:skewX(-25deg);
    -webkit-transform:skewX(-25deg);
    background:#00338b;
    border:1px solid #00338b;
}

.background-image {
    width:100%;
}

/*home-specific styles*/
h1.large {
    font-size: 65px;
    line-height: 80px;
    font-weight: 500;
    letter-spacing: -2px;
}
p.lead {
    font-size:26px;
    line-height:28px;
}

footer {
    font-size:15px;
    z-index:9;
    background:#fff;
    padding:20px 0;
    width:100%;
}

.home footer {
    position:fixed;
    bottom:0;
}
    .home footer li iframe {
        margin-bottom:-5px;
    }

    .home footer .list-inline > li {
        padding: 0px 4px;
    }

    .home footer .social-list a {
        color:#898989;
        font-weight:500;
        font-size:12px;
        letter-spacing:0px;
        font-family:"HelveticaNeueW01-67MdCn 692710", "HelveticaNeueW01-67MdCn", Helvetica, Verdana, sans-serif;
    }
        .home footer .social-list a:hover {
            color: #00338b;
        }

        .home .welcome-text {
            width:540px;
            margin-left:55px;
            margin-top:140px;
        }


/*start blog*/
.blog {
    background: none;
}

    .blog .pagination li a {
        font-size: 14px;
        line-height: 18px;
        font-family: "HelveticaNeueW01-67MdCn 692710", "HelveticaNeueW01-67MdCn", Helvetica, Verdana, sans-serif;
    }

        .blog .pagination li a.active, .blog .pagination li a:hover {
            background: linear-gradient(0deg, #00348f, #467bc5);
            color: #fff;
            border-color: transparent !important;
        }

.btn:visited {
    color: #fff;
}

.btn {
    border-radius: 6px;
    color: #fff;
    border-width: 0;
    background: linear-gradient(0deg, #00348f, #467bc5);
    font-family: "HelveticaNeueW01-67MdCn 692710", "HelveticaNeueW01-67MdCn", Helvetica, Verdana, sans-serif;
    padding: initial;
    height: initial;
    line-height: 44px;
    text-transform: initial;
    font-size: 18px;
    letter-spacing: 0;
    font-weight: 500;
    margin-bottom: 0;
}

    .btn:hover {
        background: linear-gradient(0deg, #467bc5, #467bc5);
    }

.post-meta {
    font-style: italic;
    font-size: 16px;
    color: #777;
}

.section .announcement .social {
    margin-bottom:20px;
}

section .announcement h2 {
    background-color: transparent !important;
    font-size: 32px;
    line-height: 38px;
}

section .announcement {
    background: #fff;
    padding: 20px 20px 15px;
    border-radius: 1px;
    box-shadow: 0 0 4px rgba(0,0,0,.1);
    margin-bottom: 30px;
}

    section .announcement a p {
        color:#222;
    }

    section .announcement ul {
        list-style-type: disc;
        list-style-position: outside;
        padding-left: 20px;
    }

        section .announcement ul li a, section .announcement ul li a:hover {
            font-weight: normal;
            color: #222;
        }

.announcement-view, .announcement-view p, .announcement-view li {
    color: #222222 !important;
    font-family: HelveticaNeueW01-57Cn, Helvetica, Verdana, sans-serif !important;
    font-size: 20px !important;
    letter-spacing: 0.315px !important;
    line-height: 24px !important;
    background-color: transparent !important;
}

.section-template-press-releases {
    padding: 0;
    margin: 0;
    overflow-x:hidden;
}

.section-template-press-releases .section-content {
    margin:0 0 20px -20px !important;
}

.section-template-press-releases .section-header {
    display:none;
}

.section-title .nav-bar {
    height: 35px;
    max-height: 35px;
    line-height: 33px;
}

.section-title .module {
    height: 35px;
}

    .section-title .module.widget-slant-blue:after {
        height: 35px;
    }

    .section-title .module a {
        font-size: 17px;
        line-height: 24px;
    }

section {
    background: #f2f2f2;
    color: #222;
}

    section img {
        width: 100%;
    }

    section h4 {
        font-family: "HelveticaNeueW01-57Cn", Helvetica, Verdana, sans-serif;
        font-weight: bold;
    }

    section .see-also {
        background: #fff;
        padding: 30px 30px;
        border-radius: 1px;
        box-shadow: 0 0 4px rgba(0,0,0,.1);
    }

        section .see-also ul {
            list-style-type: disc;
            list-style-position: outside;
            padding-left: 20px;
        }

            section .see-also ul li a, section .see-also ul li a:hover {
                font-weight: normal;
                color: #222;
            }

            section .see-also ul li {
                list-style-type: disc;
                font-size: 20px!important;
                margin-bottom: 10px;
                font-weight: bold!important;
            }

.fancybox-title-float-wrap {
    margin-bottom: 35px;
    font-family: "HelveticaNeueW01-57Cn", Helvetica, Verdana, sans-serif;
}

    .fancybox-title-float-wrap .child {
        font-size: 18px;
        line-height: 28px;
        border-radius: 100px;
        padding: 4px 40px;
    }

.top-nav.nav-container {
    min-height: initial !important;
}

#cd-vertical-nav {
    background: transparent;
    line-height: 16px;
    z-index: 999999 !important;
    width: 200px;
}

.no-touch #cd-vertical-nav .cd-label {
    color: #222;
    font-family: "HelveticaNeueW01-57Cn", Helvetica, Verdana, sans-serif;
    font-weight: bold;
    font-size: 15px;
}

.no-touch #cd-vertical-nav .cd-dot {
    background-color: #bbb;
}

.no-touch #cd-vertical-nav a:hover .cd-dot {
    background-color: #00338b;
}

.no-touch #cd-vertical-nav {
    left: 40px !important;
}

    .no-touch #cd-vertical-nav a span {
        float: left;
    }

    .no-touch #cd-vertical-nav li {
        text-align: left;
    }
/*end blog*/

.flex-control-nav {
    display: none;
}

/*sticky-nav home*/
.sticky-nav-home {
        border-top-right-radius: 10px;
}
.sticky-nav-home .button-tabs .active .tab-title {
    background: #fff;
    color: #000; 
}

    .sticky-nav-home .button-tabs .active .tab-title:hover {
        background:#fff;
        color:#00338b;
    }


.sticky-nav-home .button-tabs .tab-title {
    background: #fff;
    color: #000;
}

    .sticky-nav-home .button-tabs .tab-title:hover {
        background:#fff;
        color:#00338b;
    }

.sticky-nav-home .button-tabs .tab-title span {
    font-family: "HelveticaNeueW01-67MdCn 692710",Arial,sans-serif;
    font-size: 18px;
    line-height: 20px;
    text-transform:capitalize;
    letter-spacing:initial;
    font-weight:500;
}

    .sticky-nav-home .button-tabs .tab-title {
        text-align:left;
    }

.sticky-nav-home .button-tabs .tabs > li {
    margin-bottom: 0px;
    margin-top: 4px;
}

    .sticky-nav-home .button-tabs .tabs {
        margin-left:44px;
        margin-bottom:14px;
    }

.sticky-nav-home a.sticky-nav-toggle .icon::after {
    display: inline-block;
    content: " ";
    height: 64px;
    width: 40px;
    position: absolute;
    top: 0;
    transform: skewX(-25deg);
    -ms-transform: skewX(-25deg);
    -webkit-transform: skewX(-25deg);
    border-right: 1px solid #e5e5e5;
    background: #efefef;
    border-bottom: 0;
    z-index: 0;
}

    .sticky-nav-home .tab-content {
        /*padding: 10px 20px;*/
        height: 178px;
        overflow: hidden;
        background:#efefef;
        margin-left:12px;
        margin-right:12px;
        position:relative;
        color:#000;
    }

        .sticky-nav-home .tab-content .content, .sticky-nav-home .tab-content .content p {
            font-family:"HelveticaNeueW01-67MdCn 692710", "HelveticaNeueW01-67MdCn", Helvetica, Verdana, sans-serif;
            letter-spacing:0;
        }

        .sticky-nav-home .tab-content .content a {
            font-weight:normal;
        }

        .sticky-nav-home .tab-content.half .background-image-holder {
            width:50%;   
        }

        .sticky-nav-home .tab-content.full .background-image-holder {
            width:100%;
            background-position:left center !important;
        }

        .sticky-nav-home .tab-content.right .background-image-holder {
            left:0;
            top:0;
            right:initial;
        }
        .sticky-nav-home .tab-content.left .background-image-holder {
            right:0;
            top:0;
            left:initial;
        }

        .sticky-nav-home .tab-content.right .content {
            width:50%;
            right:0;
            padding:20px;
            position:absolute;
        }

        .sticky-nav-home .tab-content.left .content {
            width:50%;
            left:0;
            padding:20px;
            position:absolute;
        }

        .sticky-nav-home .tab-content.full .content {
            width:50%;
            left:50%;
            top:0;
            padding-right:20px;
            position:absolute;
            z-index:9;
            /*position:absolute; left:155px; */
            background-color:rgba(255,255,255,.60); 
            background-color:rgb(255,255,255)\9; padding:7px 9px; /*width:292px; max-height:133px;*/
            font-size:14px;
            vertical-align:top;
            height:178px;
        }

            .sticky-nav-home .tab-content.full .content table td {
                line-height:18px !important;
                padding:0 0 14px 10px;
            }

            .sticky-nav-home .tab-content.full .content table tr {
                padding-bottom:24px;
            }

                .sticky-nav-home .tab-content.full .content table tr td.prDate {
                    vertical-align:top;
                    padding:0 !important;
                }

            .sticky-nav-home .tab-content.full .content-extra {
                width:30%;
                left:20%;
                top:0;
                padding-right:20px;
                position:absolute;
                z-index:9;
                background-color: rgba(0,51,141,.80);
                background-color: rgb(0,51,141)\9;
                background-color: rgb(0,51,141); /* Old browsers */
                /* IE9 SVG, needs conditional override of 'filter' to 'none' */
                background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNzMlIiBzdG9wLWNvbG9yPSIjMDAzMzhkIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
                background: -moz-linear-gradient(-75deg,  rgba(255,255,255,1) 0%, rgba(0,51,141,1) 50%); /* FF3.6+ */
                background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(50%,rgba(0,51,141,1))); /* Chrome,Safari4+ */
                background: -webkit-linear-gradient(-75deg,  rgba(255,255,255,1) 0%,rgba(0,51,141,1) 50%); /* Chrome10+,Safari5.1+ */
                background: -o-linear-gradient(-75deg,  rgba(255,255,255,1) 0%,rgba(0,51,141,1) 50%); /* Opera 11.10+ */
                background: -ms-linear-gradient(-75deg,  rgba(255,255,255,1) 0%,rgba(0,51,141,1) 50%); /* IE10+ */
                background: linear-gradient(165deg,  rgba(255,255,255,1) 0%,rgba(0,51,141,1) 50%); /* W3C */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c3cbe5', endColorstr='#00338d',GradientType=0 ); /* IE6-8 fallback on vertical gradient */ 
                padding:7px 9px;
                font-size:14px;
                vertical-align:top;
                height:178px;
                text-align:center;
                color:#fff;
            }

                .sticky-nav-home .tab-content.full .content-extra .btn {
                    width:100%;
                }

                .sticky-nav-home .tab-content.full .content-extra h3 {
                    color:#fff;
                    font-size:22px;
                    margin:2px 0 5px;
                }
                .sticky-nav-home .tab-content.full .content-extra p {
                    font-family:"HelveticaNeueW01-57Cn", Helvetica, Verdana, sans-serif;
                    font-size:18px;
                    line-height:20px;
                    margin:2px 0 5px;
                }

                .sticky-nav-home .tab-content.full .content-extra span.date {
                    font-size:13px;
                    margin:2px 0;
                }

    .sticky-nav-home span.apply-for-a-job {
        height: 26px;
        width: 26px;
        background: url('http://www.jacobs.com/images/footerApply2.png') no-repeat;
        background-size: contain;
        float: left;
        margin: 2px 8px 0 0;
    }

    .sticky-nav-home span.sustainability {
        height: 22px;
        width: 22px;
        background: url('http://www.jacobs.com/images/footerSustainability.png') no-repeat;
        background-size: contain;
        float: left;
        margin: 3px 8px 0 0;
    }

    .sticky-nav-home span.news{
        height: 22px;
        width: 22px;
        background: url('http://www.jacobs.com/images/footerNews.png') no-repeat;
        background-size: contain;
        float: left;
        margin: 4px 8px 0 0;
    }

/*end sticky-nav-home*/

/*start sticky-nav*/
.sticky-nav {
    position: fixed;
    padding:40px 0 20px 0;
    z-index: 9;
    background:#fff;
    border:3px solid #efefef;
    box-shadow:0px 0px 18px rgba(0,0,0,.25);
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
    .sticky-nav ul.tabs {
        margin:0;
    }

    .sticky-nav ul.content {
        display:none;
    }

    .sticky-nav .button-tabs.vertical > .tabs {
        max-width: 100%;
        /*width:170px;*/
        float: right;
        padding:0 20px;
    }

    .sticky-nav .button-tabs .tab-title {
        padding: 0 6px 3px 6px;
    }

    .sticky-nav .button-tabs.vertical > .tabs li {
        margin-bottom: 0;
    }

    .sticky-nav .button-tabs .tab-title span {
        font-family: "HelveticaNeueW01-67MdCn 692710", "HelveticaNeueW01-67MdCn", Helvetica, Verdana, sans-serif;
        text-decoration: none;
        font-size: 14px;
        display: block;
        letter-spacing: 0.065em;
        text-transform:capitalize;
        font-weight:initial;
        text-align:left;
    }

    .sticky-nav .button-tabs .tab-title {
        background:#fff;
        color:#898989;
    }

    .sticky-nav .button-tabs .active .tab-title, .sticky-nav .button-tabs .tab-title:hover {
        background: #00338b;
        color: #fff;
    }

.sticky-nav .collapse {
        position: absolute;
    top: 2px;
    right: 2px;
    border-radius: 100px;
    color: #e0e0e0;
    height: 32px;
    width: 32px;
    display: block;
    text-align: center;
    cursor:pointer;
}

    .sticky-nav .collapse .icon {
        font-size:18px;
        line-height:initial;
        color:#d0d0d0;
    }

    .sticky-nav h5 {
        margin-bottom:20px;
        padding-bottom:20px;
        border-bottom:1px solid #898989;
        color:#898989;
        font-size:16px;
    }

/*end sticky-nav*/

/* inside */
.main-container.inside {
    padding-top:0;
    padding-bottom:120px;
}
.page-section .section-header {
    background:#555 url("http://www.jacobs.com/images/SeeOurResults/News/newsAnnouncementsBanner.jpg") no-repeat center center;
    background-size:cover;
    height:240px;
    width:100%;
}
.page-section .section-title .nav-bar {
    background:#fff;
}
.page-section .section-title h1, .page-section.section-template-announcement-view .section-title h2 {
    font-size: 17px;
    line-height: 24px;
    background:none;
    font-weight:normal;
}

.page-section.section-template-announcement-view h1 {
    font-family: "HelveticaNeueW01-67MdCn 692710", "HelveticaNeueW01-67MdCn", Helvetica, Verdana, sans-serif;
    font-size: 48px;
    background-color: #f2f2f2;
    line-height: 54px;
    word-spacing: 0em;
    letter-spacing: 0.015em;
    font-weight: bold;
}

.page-section .section-content {
    margin-top:40px;
}

.page-section.content-template-iframe {
    padding:0;
}

section.page-section input[type=checkbox] {
    display:none;
}

    .filters.floating {
        /*top:70px;*/
        z-index:1;
    }

.section-template-awards-and-rankings {
    background:#000 url('/assets/img/jobsCareersOnTheMove_bg.jpg') no-repeat;
    background-size:cover;
    height:auto;
    padding:0 0 40px;
    font-size:18px;
    line-height:22px;
    color:#fff;
}

    .section-template-awards-and-rankings .section-header {
        display:none;
    }

.section-template-awards-and-rankings .transparent-black {
    background:rgba(0,0,0,.75);
    padding:60px 0;
    width: 80%;
    margin:0 auto;
}

    .section-template-awards-and-rankings .transparent-black h2 {
        background:transparent;
        font-size:22px;
        line-height:26px;
        font-weight:normal;
        letter-spacing:0px;
        color:#fff;
    }
    .section-template-awards-and-rankings .transparent-black h3 {
        font-style:italic;
        font-size:34px;
        line-height:36px;
        color:#fff;
    }

    .section-template-awards-and-rankings .transparent-black h4 {
        font-style:italic;
        color:#fff;
    }

    .section-template-awards-and-rankings a{
        font-weight:normal;
        text-decoration:underline;
        color:#fff;
    }

        .section-template-awards-and-rankings a:hover {
            color:#ccc;
        }

.section-template-resources-and-downloads .container .row{
    width:80%;
    margin:0 auto;
}

.section-template-resources-and-downloads a {
    font-weight:normal;
}

    .section-template-resources-and-downloads h2 {
        font-size:32px !important;
    }

    .section-template-resources-and-downloads a.btn.btn-block {
        margin:20px 0;
    }

.section-template-resources-and-downloads li {
    list-style:outside disc;
    margin-left:20px;
}

/* start: bluej */
.bluej {

}
/* end: bluej */

/************************ START MOBILE*/

@media all and (min-width:991px) and (max-width:1234px) {
    .jacobs-logo {
        padding:0 0 0 20px;
    }
    .logo {
        margin: 30px 12px;
        width: 144px;
    }
    .module.widget-handle.mobile-toggle.right.visible-sm.visible-xs {
        display:none !important;
    }
    .menu li a {
        font-size:16px;
    }
    .menu input.search {
        width:120px;
    }
    .menu li.search-form {
        width:127px;
        margin-top:8px;
    }
    .module.widget-handle {
        padding:0;
    }
    .mega-menu > li {
        width: 180px !important;
    }
    .menu > li ul.nav-join-us {
        padding-left: 198px;
    }
    .menu > li ul.nav-learn-about-us {
        padding-left:267px;
    }
    .menu > li ul.nav-learn-about-us ul.nav-sub {
        margin-left: 440px;
    }
    .menu > li > ul ul.nav-sub li a {
        padding: 6px 6px;
    }
    .menu > li ul.nav-see-our-results {
        padding-left: 383px;
    }
    .menu > li ul.nav-see-our-results ul.nav-sub {
        margin-left: 550px;
    }
    .menu > li ul.nav-investors {
        padding-left: 506px;
    }
    .cbp-spmenu-horizontal a.sticky-nav-toggle {
        z-index:99;
        position:relative;
    }
    .cbp-spmenu-bottom.cbp-spmenu-open {
        bottom: 60px;
        background:#fff;
    }
    .cbp-spmenu-bottom.cbp-spmenu-open .button-tabs {
        /*opacity:1;*/
    }
    .cbp-spmenu-bottom {
        bottom:-130px;
        z-index:3;
        /*background:transparent*/
    }
    .cbp-spmenu-bottom .button-tabs {
        /*opacity:0;*/
    }

    .home footer .social-list {
        text-align:left;
    }

    .module.widget-slant-blue {
        width: 200px;
    }
        .module.widget-slant-blue:after {
            margin-left:145px;
        }
}


@media all and (max-width: 990px) {
    body {
        overflow-x:hidden;
    }
    .home-slider {
        position:fixed!important;
        top:0!important;
        left:0!important;
        height:100%;
        width:100%;
    }/*bholli test*/

    .home footer .social-list {
        text-align:center;
    }
    .module.widget-handle i {
        position: relative;
        z-index: 99;
    }
    .top-nav nav {
        position:relative !important;
    }
    .menu {
        line-height:initial;
    }
    .nav-bar {
        background:#fff;
    }

    .nav-slant:before {
    display: none;
}
    
    .nav-slant {
        background:#efefef;
        /*border-bottom:1px solid #ccc;*/
        border-left:0;
        display:none !important;
    }

    .nav-bar .menu li a {
        color:#555;
        font-size:16px;
        padding:8px 10px;
    }

    .nav-bar .menu > li {
        border-top: 1px solid #bbb;
    }

    .jacobs-nav {
        padding:0 !important;
    }

    .nav-bar .module-group {
        padding:0;
    }

    .nav-bar a {
        height:auto;
    }

    .logo {
        margin:14px 10px 10px;
    }

     .nav-bar .module.jacobs-logo {
        padding-left:0;
    }
    .logo {
        height:20px;
        margin-left:10px;
    }
    .top-nav .nav-bar .module, .top-nav .nav-bar .module-group {
       /* height: 60px;*/
       overflow:visible;
    }
    .top-nav .nav-bar {
        height: 60px;
        max-height: 60px;
        line-height: 50px;
        background:#fff;
    }
    .module.end {
       display:none;
    }
    .mobile-toggle {
        background:#efefef;
        border:0 !important;
        padding:0 !important;
        height:60px !important;
        width:40px;
    }

        .mobile-toggle a {
            width:100%;
            height:100%;
            background: url("../img/mobile-menu.png") no-repeat center center;
            background-size:cover;
            z-index:9999;
        position:relative;
        }
        .mobile-toggle i {
            line-height:58px !important;
            font-size:28px !important;
        }
    .mobile-toggle::before {
        display: inline-block;
        content:" ";
        height: 61px;
        width:40px;
        position: absolute;
        left: -25px;
        transform:skewX(-25deg);
        -ms-transform:skewX(-25deg);
        -webkit-transform:skewX(-25deg);
        border-left: 1px solid #ccc;
        background:#efefef;

        top:-1px;
    }
    .search-toggle {
        background:#efefef;
        padding:0 !important;
        height:60px !important;
        width:40px;
        border-top:none !important;
    }
        .search-toggle a {
            width:100%;
            height:100%;
            background: url("../img/mobile-search.png") no-repeat center center;
            background-size:cover;
        }
    .location-toggle {
        background:#efefef;
        padding:0 !important;
        height:60px !important;
        width:40px;
        border-top:none !important;
    }
        .location-toggle a {
            width:100%;
            height:100%;
            background: url("../img/mobile-pin.png") no-repeat center center;
            background-size:cover;
        }
    .welcome-text {
        display:none;
    }

    .sticky-nav-home {
        display:none;
    }
    .sticky-nav-home-mobile {
        display:block;
        position: relative;
        bottom: initial;
        z-index: 99;
        width:100%;
        margin:120px 0 60px;
    }
        .sticky-nav-home-mobile li {
            margin-bottom:-1px;
        }

        .sticky-nav-home-mobile .content {
            background:#fff;
            border:0 !important;
        }
        .sticky-nav-home-mobile .tab-content {
            padding:20px;
        }
        .accordion-1 .active .title, .accordion-1 .title, .accordion-1:hover .title {
            background: rgba(0, 51, 139, 0.6);
            color: #fff;
        }
            .accordion-1 .title span {
                font-family: "HelveticaNeueW01-67MdCn 692710", "HelveticaNeueW01-67MdCn", Helvetica, Verdana, sans-serif;
                text-decoration: none;
                font-size: 18px;
                display: block;
                letter-spacing: -0.010em;
                text-transform:capitalize;
                font-weight:initial;
                text-align:left;
                z-index:999;
                position:relative;
            }
    .sticky-nav-home-mobile .background-image-holder {
        display:none;
    }
    .sticky-nav-home-mobile p {
        font-size:18px;
        margin-bottom:18px;
    }

    .sticky-nav-home-mobile table td {
                line-height:18px !important;
                padding:0 0 14px 10px;
                font-size:14px;
            }

            .sticky-nav-home-mobile table tr {
                padding-bottom:24px;
            }

                .sticky-nav-home-mobile table tr td.prDate {
                    vertical-align:top;
                    padding:0 !important;
                }

    /*.top-nav .module.jacobs-nav {
        z-index: 999999;
        position: fixed;
        float: none;
        left: 0;
        width: 100%;
        text-align: left;
        overflow: initial;
        top: 60px;
    }*/

    .top-nav .menu {
        height:60px;
    }

    /*.top-nav .module.left.end {
        float: right;
        top: 0;
        position: fixed;
        right: 0;
    }*/

    .home .welcome-text {
        width:90%;
        margin-top:50px;
        margin-left:5%;
    }

        .home .welcome-text h1 {
            font-size:40px;
        }

    section.page-title {
        display:none;
    }
    /*.main-container {
        padding-top:56px;
    }*/
    .module.widget-slant-blue {
        display:none;
    }

    .home footer {
        padding:10px 0;
        position:relative;
    }

    .page-section {
        padding:0;
    }

    .page-section .section-header {
        display:none;
    }

        .page-section nav .nav-bar {
            background:#606060 !important;
            border-bottom:1px solid #e0e0e0;
        }

        .page-section .section-title {
            box-shadow:none;
        }

        .page-section .section-title h1, .page-section.section-template-announcement-view .section-title h2 {
            margin-bottom:0;
            line-height:34px;
            color:#fff;
            font-weight:bold;
            letter-spacing: 0.025em;
        }

        .page-section .section-content{
            transform: translate(0, 0);
        }

        .page-section .section-content h2, .page-section.section-template-announcement-view h1 {
            font-size:30px;
            line-height:36px;
        }

        .section-template-awards-and-rankings .transparent-black {
            background: rgba(0,0,0,.75);
            padding: 15px 20px;
            width: 90%;
            margin: 0 auto;
        }

        .section-template-resources-and-downloads .container .row {
            width: 100%;
            margin: 0 auto;
        }



/*transitions for mobile headers*/
section.page-section input[type=checkbox] {
    display:block;
}
.transition, div.section-content, section.page-section i:before, section.page-section i:after {
    transition: all 0.25s ease-in-out;
}

.flipIn, h1, section.page-section {
    animation: flipdown 0.5s ease both;
}
section.page-section i {
    position:absolute;
    transform:translate(-6px, 0);
    margin-top:12px;
    right:20px;
    z-index:999;
}
section.page-section i:before, section.page-section i:after {
    content: "";
    position: absolute;
    background-color: #fff;
    width: 3px;
    height: 9px;
    z-index:99;
}
section.page-section i:before {
    transform: translate(-2px, 0) rotate(45deg);
}
section.page-section i:after {
    transform: translate(2px, 0) rotate(-45deg);
}
section.page-section input[type=checkbox] {
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
}
section.page-section input[type=checkbox]:checked ~ div.section-content {
    margin-top: 0;
    max-height: 0;
    opacity: 0;
    transform: translate(0, 50%);
}

    .page-section.section-template-announcements .section-content .row {
        max-width:480px;
        margin:0 auto;
    }

    .page-section.section-template-announcements .announcement {
        padding:20px 8px 15px;
        font-size:16px;
        line-height:20px;
    }

    .page-section .section-content {
        position:relative;
        z-index:999;
    }

        .page-section.section-template-announcements .announcement .col-md-8 .col-md-8, .page-section.section-template-announcements .announcement .col-md-8 .col-md-4 {
            padding-right:0;
            padding-left:0;
            color:#222 !important;
        }

        .page-section.section-template-announcements .announcement .col-md-8 > .col-md-4 {
            height:40px !important;
        }

        .page-section.section-template-announcements .announcement img {
            margin-bottom:20px;
        }
        .page-section.section-template-announcements .announcement h2 {
            font-size:20px;
            line-height:24px;
        }

    .page-section.section-template-announcements .announcement .btn.btn-primary.bottom {
        position:relative !important;
        width:100%;
    }
    
section.page-section input[type=checkbox]:checked ~ i:before {
    transform: translate(2px, 0) rotate(45deg);
}
section.page-section input[type=checkbox]:checked ~ i:after {
    transform: translate(-2px, 0) rotate(-45deg);
}


@keyframes flipdown {
    0% {
    opacity: 0;
    transform-origin: top center;
    transform: rotateX(-90deg);
    }
    5% {
    opacity: 1;
    }
    80% {
    transform: rotateX(8deg);
    }
    83% {
    transform: rotateX(6deg);
    }
    92% {
    transform: rotateX(-3deg);
    }
    100% {
    transform-origin: top center;
    transform: rotateX(0deg);
    }
}

}

/************************ END MOBILE*/
