.careers-on-the-move p{
    line-height: 1.3;
    font-size: 80%;
}
.careers-on-the-move .careers-wrapper{
    height: 700px;
    position: relative;
}
.careers-on-the-move .careers-page{
    position: absolute;
    height: 700px;
    width: 100%;
    margin: 0;
}
// .careers-on-the-move .container{
//     width: 100%;
// }
.inside-careers{
    height: 70vh;
    text-align: right;
}
.careers-on-the-move .unskew{
    -webkit-transform: skew(-25deg);
    transform: skew(25deg);
}
.careers-on-the-move .slant-text h3{
    font-weight: normal;
    margin-bottom: 16px;
}
.careers-on-the-move .slant-text p{
    margin-bottom: 16px;
}
[data-query="carousel"]{
    background: url('assets/img/bgHome1.jpg');
    background-size: cover;
    position: absolute;
    width: 100%;
    bottom: 0;
}
.careers-on-the-move .landing-slide{
    display: inline-block;
    margin-left: -5em;
    position: relative;
    top: 2em;
}
.careers-on-the-move .landing-slide .btn{
    margin: 1em 0;
}
.careers-on-the-move .landing-slide h3{
    font-size: 2em;
    font-weight: 400;
}
.careers-on-the-move .landing-slide p{
    margin-bottom: 0;
    font-size: .75em;
}
.careers-on-the-move figure{
    display: inline-block;
    /*width: 150px;*/
    vertical-align: bottom;
}
.careers-on-the-move .careers-landing figure img{
    height: 625px;
    width: auto;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: all 0.5s ease;

}
.careers-on-the-move .careers-landing figure img.on, .careers-on-the-move figure img:hover{
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);   
}
.careers-on-the-move .career-thumb{
    width: 33.33%;
    float: left;
    vertical-align: top;
    padding-bottom: 20px; 
    margin-top: 25px;
    text-align: left;
    border-bottom: 1px solid white;
}
.careers-on-the-move .career-thumb div.white{
    text-align: left;
}
.careers-on-the-move .career-thumb figure{
    margin-bottom: 16px;
}
.careers-on-the-move .career-thumb p,
.careers-on-the-move .career-thumb h3{
    margin-bottom: 5px;
}
.careers-on-the-move .career-thumb-wrapper{
    padding-left: 375px;
}
.careers-on-the-move .career-thumb figure{
    max-width: 170px;
    width: 100%;
    height: auto;
}
.careers-on-the-move .left-margin .div-middle-slant-left-solid{
    margin-left: 0;
    padding: 0;
}
.careers-on-the-move .career-btn{
    position: absolute;
    right: 0;
    height: 42%;
    bottom: 15%;
    background: rgba(255,255,255,.9);
    padding: 1em;
    overflow: scroll;
    width: 290px;
    text-align: left;
    z-index: 10;
    opacity: 0;
    visibility: hidden;
    box-shadow: 0 0 5px #999
}
.careers-on-the-move .landing-slide:first-of-type .career-btn{
    left: 0;
}
.careers-on-the-move .landing-archives{
    position: absolute;
    bottom: 6em;
    // background: #4d4d4d;
    color: white;
    font-weight: 400;
    width: 145%;
    left: 0;
    transition: all .15s ease;
}
.careers-on-the-move .landing-archives a{
    color: white;

    padding: .5em;
    display: inline-block;
    background: #4D4D4D;
}
.careers-on-the-move .landing-archives i.icomoon{
    padding-right: 0.35em;
    position: relative;
    // top: -3px;
}
.careers-on-the-move .landing-archives span{
    position: relative;
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 16px;
}
.careers-on-the-move .landing-archives:hover a{
    color: #ccc;
    // background: #999;
}
// .careers-on-the-move .landing-archives:hover:after{
//     content:'';
//     background: #999;
// }
.careers-on-the-move .landing-archives:after{
    content: '';
    height: 49px;
    width: 40px;
    background: #4d4d4d;
    position: absolute;
    top: 0;
    transform: skewX(-25deg);
    transform-origin: top;
    -webkit-transform: skewX(-25deg);
    -webkit-transform-origin: 0 0;
    z-index: -1;
}
.careers-on-the-move .big-slant:after{ 
    display: inline-block;
    content: " ";
    height: 700px;
    width: 330px;
    position: absolute;
    top:0px;
    right: -275px;
    transform: skewX(-25deg);
    -ms-transform: skewX(-25deg);
    -webkit-transform: skewX(-25deg);
    border-left: 1px solid #ccc;
    background: rgba(239,239,239,0.85); 
}
.careers-on-the-move .career-landing{
    position: relative;
    overflow: hidden;
}

.careers-on-the-move .careers-page .section-headline{ 
    border-bottom: 2px solid white;
    font-weight: 300;
    font-size: 42px;
    line-height: 60px;
    padding-bottom: 16px;
}
.careers-on-the-move .careers-page p.jacobs-blue-bg{ 
    padding: 1em; 
}
.careers-on-the-move .careers-page .highlights{
    line-height: 1.75em;
    width: 95%;
}
.careers-on-the-move .careers-page .highlights span{
    position: relative;
    left: 13px;
    display: inline;
    padding: 0.5em ;
    padding-left: 0;
    box-shadow: .75em 0 0 #00338b, -.75em 0 0 #00338b;
    background: #00338b;
    font-weight: 700;
    font-size: 17px;
}
.careers-on-the-move .carousel-landing-page{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.careers-on-the-move .carousel-nav a{
    // background: #00338b;
    // padding: .5em;
    // border-radius: 50%;
}
.careers-on-the-move .carousel-nav i{
    color: white;
    font-size: .6em;
    font-weight: 700;
}
.careers-on-the-move .carousel-icons a{
    display: inline-block;
}
.careers-on-the-move .carousel-icons object{
    opacity: 0.75;
    pointer-events: none;
}
.careers-on-the-move .vert-icon-nav a{
    padding: 1em;
    border-radius: 50%;
    border: 1px solid white;
    margin-bottom: 1em;
}
.careers-on-the-move .vert-icon-nav object{
    width: 44px;
    height: 40px;
}
.careers-on-the-move .vert-icon-nav a:hover{
    cursor: pointer;
}
.careers-on-the-move .vert-icon-nav a:hover object{
    opacity: 1;
}
.careers-on-the-move .carousel-buttons ul{
    margin: 0;
}
.careers-on-the-move .carousel-buttons li{
    display: inline-block;
}
.careers-on-the-move .carousel-buttons i.icomoon{
    padding-right: 0.95em;
}
.careers-on-the-move .carousel-landing-page.map-landing .carousel-buttons i.icomoon{
    padding: .75em 0.95em;
}
.careers-on-the-move .carousel-buttons a{
    color: white;
    display: block;
}
.careers-on-the-move .carousel-buttons a.dark-gray{
    color: #4d4d4d;
}
.careers-on-the-move .carousel-buttons a.back-to-bio{
    margin-top: 15px;
    font-size: 14px;
    // display: none;
}
.careers-on-the-move .carousel-buttons.map-buttons a.back-to-bio{
    margin-top: 0;
}
.careers-on-the-move .carousel-buttons a.back-to-bio i{

    color: #4d4d4d;
    background: none;
    padding-left: .5em;
    padding-right: 0;
    padding: 0;
    // position: relative;
    // top: -2px;
}
.careers-on-the-move .carousel-buttons a.back-to-bio i.white{
    color: white;
}
.careers-on-the-move .carousel-buttons a.back-to-bio i.light-gray{
    color: #b1b1b1;
}
.careers-on-the-move .carousel-buttons i{
    background: #00338b;
    border-radius: 50%;
    padding: 4px;
    font-size: .75em;
}
.careers-on-the-move .carousel-buttons i.white-bg{
    background: white;
    color: #4d4d4d;
}
.careers-on-the-move a.back-to-bio span{
    display: inline-block;
    position: relative;
    top: 2px;
    font-weight: bold;
    color: #4d4d4d;
}
.careers-on-the-move a.back-to-bio span.block{
    display: block;
}
.careers-on-the-move a.back-to-bio span.light-gray{
    color: #b1b1b1;
}
.careers-on-the-move a.back-to-bio span.white{
    color: white;
}
.careers-on-the-move .career-footer{
    display: block;
    position: relative;
    z-index: 5;
}
.careers-on-the-move .career-footer .btn{
    height: auto;
    line-height: 31px;
    width: auto;
    padding: 0 2em;
}

.careers-on-the-move .careers-page:not(:first-of-type) .career-footer .btn{
    min-width: auto;
}
.careers-on-the-move .career-footer p.small{
    padding: .5em 1em;
    margin: 0 1em;
}
.careers-on-the-move .career-footer-callouts{
    margin-top: 0.75em;
    text-align: right;
}
.careers-on-the-move .career-footer-callouts .footer-img-divider{
    width: 2px;
    height: 40px;
    background: #cacaca;
    margin-right: 9px;
    margin-left: 9px;    
}

.careers-on-the-move .careers-page:not(:first-of-type) .career-footer-callouts{
    width: 58.3333333%;
    margin-top: 10px;
}
.careers-on-the-move .careers-page:not(:first-of-type) .career-footer-callouts h3{
    display: inline-block;
    padding-right: 190px;
    text-align: right;
    font-size: 34px;
    color: #4d4d4d;
    position: relative;
    top: 6px;
}
.careers-on-the-move .careers-page:not(:first-of-type) .career-footer-callouts .footer-img-divider{
    display: inline-block;
    vertical-align: middle;
}
.careers-on-the-move .careers-page:not(:first-of-type) .career-footer-callouts img{
    position: absolute;
    right: 0;
    bottom: 0;
    max-width: 200px;
}
.careers-on-the-move .career-footer-pic h3{
    display: inline-block;
    margin: 0;
    padding: .5em 0;
    color: #4d4d4d;
    display: block;
    text-align: right;
    padding-right: 190px;
}
.career-footer-pic img{
    position: absolute;
    bottom: -10px;
    right: 0;
    max-width: 200px;
}
/*********************/
/*****CAROUSELS*******/
/*********************/
.careers-on-the-move .horizontal-pic-nav{ 
    display: table; 
    width: 100%; 
}
.careers-on-the-move .horizontal-pic-nav li{
    display: table-row;
    height: 175px;
    background-size: cover;
    background-position: center;
}
.careers-on-the-move .horizontal-pic-nav li:nth-last-child(1) a{
    padding-left: 3em;
}
.careers-on-the-move .horizontal-pic-nav li:nth-last-child(2) a{
    padding-left: 7em;
}
.careers-on-the-move .horizontal-pic-nav li:nth-last-child(3) a{
    padding-left: 11em;
}
.careers-on-the-move .horizontal-pic-nav li:nth-last-child(4) a{
    padding-left: 15em;
}
.careers-on-the-move .horizontal-pic-nav a{
    display: table-cell;
    vertical-align: middle;
    box-shadow: inset 0px 0px 15px #000;
    padding-left: 3em;
}
.careers-on-the-move .horizontal-pic-nav h3{
    margin: 0;
    color: white;
    padding: 2em 1em;
    text-transform: uppercase;
}
.careers-on-the-move .horizontal-pic-nav a:hover, 
.careers-on-the-move .horizontal-pic-nav a.on,
.careers-on-the-move .carousel-icons a:hover, 
.careers-on-the-move .carousel-icons a.on{
    background: rgba(0, 51, 139, 0.75); 
}
.careers-on-the-move .horizontal-pic-buttons li{
    display: inline-block; 
}
.careers-on-the-move .wide-carousel-nav{
    // width: 150%;
}
.careers-on-the-move .nav-over{
    z-index: 5;
    width: 180%;
    overflow: auto;
}
.careers-on-the-move .horizontal-icon-carousel2{
    width: 100vw;
}
.careers-on-the-move .horizontal-icon-carousel2 .the-icon{
    width: 120px;
    height: auto;
}
 .careers-on-the-move .horizontal-icon-carousel2 .slick-current .the-icon{
    color: white;
}
.careers-on-the-move .horizontal-icon-carousel2 li{
    display: inline-block;
}
 .careers-on-the-move .tabbed-icon-nav {
    border-bottom: 1px solid #4d4d4d;
    // margin-top: 6em; 
}
.careers-on-the-move .tabbed-icon-nav object,
.careers-on-the-move .vert-icon-nav object{
    opacity: 0.65;
}
.careers-on-the-move .tabbed-icon-nav li{
    display: inline-block;
}
.careers-on-the-move .tabbed-icon-nav a{ width: 80px;
    height: 80px;
    display: inline-block;
    background: transparent;
    padding: 1em;
    -webkit-transform: skew(-25deg);
    transform: skew(-25deg); 
}
.careers-on-the-move i.icomoon{
    width: 22px;
    height: 22px;
    font-size: .5em;
    padding: 0.95em;
    padding-right: 0;
}
.careers-on-the-move .tabbed-icon-carousel p{
    font-size: 75%;
}
.careers-on-the-move .tabbed-icon-carousel .section-headlines{
    color: #666666;
    font-size: 44px;
    line-height: 56px;
    text-align: right;
    font-weight: 300;
}
.careers-on-the-move .tabbed-icon-carousel + .carousel-buttons{
    padding-left: 7.25em;
    padding-left: 36.3333%;
}
.careers-on-the-move .tabbed-icon-nav .the-icon{ 
    width: 100%; 
    height: 100%;
    -webkit-transform: skew(25deg);
    transform: skew(25deg); 
    pointer-events: none;
}
.careers-on-the-move .numbered-nav p{
    
}
.careers-on-the-move .tabbed-icon-nav a:hover, .careers-on-the-move .tabbed-icon-nav a.on{
    background: #00338b; 
}
.careers-on-the-move .tabbed-icon-nav a:hover object, 
.careers-on-the-move .tabbed-icon-nav a.on object,
.careers-on-the-move .vert-icon-nav a:hover object,
.careers-on-the-move .vert-icon-nav a.on object{
    opacity: 1; 
}


.careers-on-the-move .tabbed-icon-buttons li{
    display: inline-block; 
}
.careers-on-the-move .careers-big-image img{
    position: absolute;
    // top: 1.5em;
    z-index: 1;
    bottom: 0;
    width: auto;
    // height: 625px;
}
.careers-on-the-move .horizontal-icon-blue-bg{
    height: 200px;
    width: 500px;
    background: #00338b;
    z-index: -1;
}
.careers-on-the-move .left-slant-push{
    left: 200px;
}
.careers-on-the-move .career-landing-info{
    padding-top: 8em;
    padding-left: 250px;
}
.careers-on-the-move .career-landing-info h3{
    font-size: 2em;
    line-height: 1.5;
}
.careers-on-the-move .career-landing-info .desktop-hide {
    margin-bottom: 1.65em;
}
.careers-on-the-move .career-landing-info .desktop-hide h3{
    padding-top: 1.5em;
    margin-bottom: 0;
}

.careers-on-the-move .vert-center{
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.careers-on-the-move .high-vert{
    top: 20%;
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
}
.careers-on-the-move .extra-wide{
    width: 170%;
}
.careers-on-the-move .extra-extra-wide{
    width: 204%;
}
.careers-on-the-move .extra-wide .right-slant{
    shape-outside: polygon(100% 0%, 100% 100%, 67% 100%);
    -webkit-clip-path: polygon(100% 0%, 100% 100%, 67% 100%);
    clip-path: polygon(100% 0%, 100% 100%, 67% 100%);
}

// ACCORDION SLIDER
.careers-on-the-move .accordion-slider{
    border-left: 1px solid white;
}
.careers-on-the-move .accordion-slider .as-panels h3{
    font-weight: 300;
    font-size: 45px;
    line-height: 52px;
}
.careers-on-the-move .accordion-slider .carousel-buttons i{
    background: white;
    color: #4d4d4d;
}
.careers-on-the-move .accordion-slider .carousel-buttons .acc-pic-buttons,
.careers-on-the-move .accordion-slider .carousel-buttons .back-to-bio{
    display: inline-block;
}
.careers-on-the-move .accordion-slider .carousel-buttons .acc-pic-buttons.block,
.careers-on-the-move .accordion-slider .carousel-buttons .back-to-bio.block{
    display: block;
}
.careers-on-the-move .accordion-slider .carousel-buttons i.dark-gray-bg{
    color: white;
    background: #4d4d4d;
}
.careers-on-the-move .accordion-slider a.back-to-bio span{
    // background: white;
    color: white;
    font-weight: bolt;
    font-size: 14px;
}
.careers-on-the-move .accordion-slider a.back-to-bio span.dark-gray{
    // background: white;
    color: #4d4d4d;
}
.careers-on-the-move .accordion-slider a.back-to-bio span.light-gray{
    // background: white;
    color: #b1b1b1;
}
.careers-on-the-move .accordion-slider a.back-to-bio i{
    color: white;
}
.careers-on-the-move .accordion-slider a.back-to-bio i.dark-gray{
    color: #4d4d4d;
}
.careers-on-the-move .accordion-slider a.back-to-bio i.light-gray{
    color: #b1b1b1;
}
.careers-on-the-move .accordion-slider a.back-to-bio i.white{
    color: white;
}
.careers-on-the-move .as-mask{
    transform: skew(-25deg);
    transform: skew(-25deg);
}
.careers-on-the-move .inner-layer{
    // width: 36%;    
    // margin-left: 22.5%;
    width: 66%;
    margin-left: 10%;
}

.careers-on-the-move .as-layer{
    -webkit-transform: skew(25deg);
    transform: skew(25deg) translate3d(auto,-50%,auto);
    // left: -222px !important;
    // width: 160% !important;
}
.careers-on-the-move .overlay-image{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.careers-on-the-move .as-background:not(.overlay-image){
    height: auto !important;
}
.careers-on-the-move .p-wrapper{
    display: inline-block;
    width: 30%;
    text-align: right;
    padding-right: 2em;
}
.careers-on-the-move .vert-layer{
    // top: 50%;
    // transform: translateY(-50%);
}
.careers-on-the-move .as-panel:first-of-type .inner-layer{
    width: 57%;
    margin-left: auto;
}
.careers-on-the-move .as-panel .as-background{
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    transition: all .35s ease;
}
.careers-on-the-move .as-panel.as-shadow .as-background{
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: all .35s ease;
}
.careers-on-the-move .as-panel.as-shadow.as-opened .as-background{
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}
.careers-on-the-move .as-panel.as-shadow .as-background.overlay-image{
    opacity: 0;
}
.careers-on-the-move .as-panel.as-shadow.as-opened .as-background.overlay-image{
    opacity: 1;
}
.careers-on-the-move .accordion-slider p.outer.outline-p{
    opacity: 1;
    visibility: visible;
    transition: all .35s ease;
    color: rgb(102,102,102);
    border-color: rgb(102,102,102);
    z-index: 1;
    // left: 137px;
    // left: 2.65em;
}
.careers-on-the-move .accordion-slider .as-opened p.outer.outline-p{
    opacity: 0;
    visibility: hidden;
}
.careers-on-the-move .map-width{
    width: 220%;
    right: 0;
    padding: 1em;
    padding-right: 2em;
    background: rgba(239,239,239,0.85);
}
.careers-on-the-move .map-buttons{
    overflow: hidden;
    padding-bottom: 20px;
    float: none!important;
}
.careers-on-the-move .map-slide-bg{
    background: url(../img/Homepage-Background-4.jpg);
    background-size: cover;
    background-position: right center;
    position: absolute;
    right: 0;
    top: 0;
    width: 300%;
    height: 100%;
    z-index: 0;
}
.careers-on-the-move .map-overflow{
    position: relative;
    z-index: 1;
}
.careers-on-the-move .map-buttons .map-carousel-buttons{
    float: left;
}
.careers-on-the-move .map-buttons .back-to-bio{
    float: right;
    margin-top: 0;
}
.careers-on-the-move #map{
    -webkit-clip-path: polygon(00% 00%, 0% 100%, 63% 100%, 100% 0%);
    clip-path: polygon(00% 00%, 0% 100%, 63% 100%, 100% 0%);
}


/*********************/
/***Diagonal Slants***/
/*********************/
.careers-on-the-move .opposite-middle-slant{
    width: 80%;
}
.careers-on-the-move .div-middle-slant{
    overflow: hidden;
}
.careers-on-the-move .div-middle-slant::before{
    content: '';
    height: 700px;
    width: 330px;
    background: rgba(239,239,239,0.85);
    position: absolute;
    top: 0;
    right: -330px;
    transform: skewX(-25deg);
    transform-origin: top;
    -webkit-transform: skewX(-25deg);
    -webkit-transform-origin: 0 0;
}
.careers-on-the-move .div-middle-slant-solid{
    overflow: hidden;
}
.careers-on-the-move .div-middle-slant-solid::before{
    content: '';
    height: 700px;
    width: 330px;
    background: rgba(239,239,239,1);
    position: absolute;
    top: 0;
    right: -330px;
    transform: skewX(-25deg);
    transform-origin: top;
    -webkit-transform: skewX(-25deg);
    -webkit-transform-origin: 0 0;
}
.careers-on-the-move .div-middle-slant-left{
    overflow: hidden;
}
.careers-on-the-move .div-middle-slant-left::before{
    content: '';
    height: 700px;
    width: 330px;
    background: rgba(239,239,239,0.85);
    position: absolute;
    top: 0;
    left: 0px;
    transform: skewX(-25deg);
    transform-origin: top;
    -webkit-transform: skewX(-25deg);
    -webkit-transform-origin: 0 0;
}
.careers-on-the-move .div-middle-slant-left-solid{
    overflow: hidden;
}
.careers-on-the-move .div-middle-slant-left-solid::before{
    content: '';
    height: 700px;
    width: 330px;
    background: rgba(239,239,239,1);
    position: absolute;
    top: 0;
    left: 0px;
    transform: skewX(-25deg);
    transform-origin: top;
    -webkit-transform: skewX(-25deg);
    -webkit-transform-origin: 0 0;
}
.careers-on-the-move .mobile-headline-img{
    width: 30%;
    border-radius: 50%;
    background: white;
}
.careers-on-the-move .outline-p{
    display: inline-block;
    border: 1px solid white;
    border-radius: 50%;
    padding: .25em .45em;
    font-size: 3em;
}
.careers-on-the-move .mobile-footer{
    position: absolute;
    bottom: 0em;
    width: 100%;
    padding: .35em 0;
    text-align: center;
    z-index: 5;
}




/*helper classes*/
.careers-on-the-move .white{ color: white; }
.careers-on-the-move .light-gray{ color: #b1b1b1; }
.careers-on-the-move .dark-gray{ color: #4d4d4d; }
.careers-on-the-move .jacobs-blue{ color: #00338b; }
.careers-on-the-move .jacobs-trans-gray-bg{ background: rgba(239,239,239,0.85); }
.careers-on-the-move .jacobs-gray-bg{ background: rgba(239,239,239,1); }
.careers-on-the-move .dark-gray-bg{ background: #4d4d4d; }
.careers-on-the-move .jacobs-slideimage-bg{ background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url(../img/bgHome1.jpg);}

.careers-on-the-move .careers-page .small{ font-size: 70%; }
.careers-on-the-move .careers-page .through{ display: none; }
.careers-on-the-move .hide{ display: none; }
.careers-on-the-move .careers-page .no-margin{ margin: 0; }

.careers-on-the-move .no-margin{ margin: 0; }
.careers-on-the-move .no-padding{ padding: 0; }
.careers-on-the-move .slant-text{ z-index: 6; }
.careers-on-the-move .wide-text{ width: 137%; }
.careers-on-the-move .cover-bg{ background-size: cover; }

.careers-on-the-move .careers-page .text-left{ text-align: left; }
.careers-on-the-move .careers-page .text-center{ text-align: center; }
.careers-on-the-move .careers-page .text-right{ text-align: right; }

.careers-on-the-move .map-landing-bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(239,239,239,0.85),rgba(239,239,239,0.85)),url(../img/map-landing-bg.jpg);
    background-size: cover;
    background-position: center center;
}
.careers-on-the-move .left-margin{
    margin-left: 250px;
}

.careers-on-the-move .home-wide-text{ 
    width: 120%; 
    left: 50%;
    top: 50%;
}
.careers-on-the-move .view-career{ 
    height: auto;
    line-height: 34px;
    font-size: 16px;
}
.careers-on-the-move .btn{ 
    border-radius: 4px;
}
.careers-on-the-move .right-slant{
    float: right; 
    width: 100%;
    height: 500px;
    shape-outside: polygon(100% 0%, 100% 100%, 37% 100%);
    -webkit-clip-path: polygon(100% 0%, 100% 100%, 37% 100%);
    clip-path: polygon(100% 0%, 100% 100%, 37% 100%);
}
.careers-on-the-move .btn-light{ 
    background: #efefef;
    color: #4d4d4d;
    box-shadow: 0 0 5px #4d4d4d; 
}
.careers-on-the-move .btn-light:hover{
    background: #ddd;
}
.careers-on-the-move .jacobs-blue-bg{ 
    background: #00338b; 
}
.careers-page:not(:first-of-type){
    opacity: 0;
    visibility: hidden;
}

.careers-on-the-move .relative{
    position: relative;
}
.careers-on-the-move .overflow{
    overflow: hidden;
}
.careers-on-the-move .height{
    height: 700px;
}
.careers-on-the-move .careers-page .desktop-hide,
.careers-on-the-move .careers-page .desktop-hidden{
    display: none;
}
.jacobs .careers-on-the-move h3{
    font-size: 25px;
    line-height: 30px;
}

@media screen and (min-width: 1160px) and (max-width: 1400px){
    .careers-on-the-move .careers-page:not(:first-of-type) .career-footer .btn{
        min-width: auto;
        width: auto;
        padding: 0em 1.25em;
        min-width: 90px;
    }
}

@media screen and (max-width: 1350px){
    .careers-on-the-move .careers-page:not(:first-of-type) .career-footer-callouts .footer-img-divider,
    .careers-on-the-move .careers-page:not(:first-of-type) .career-footer-callouts h3,
    .careers-on-the-move .careers-page:not(:first-of-type) .career-footer-callouts img{
        display: none;
    }
}
@media screen and (min-width: 991px) and (max-width: 1160px){
    .careers-on-the-move .careers-page:not(:first-of-type) .career-footer .btn{
        min-width: 125px;
        width: auto;
        padding: 0em .65em;
    }
    .careers-on-the-move .careers-page:not(:first-of-type) .career-footer > div:nth-of-type(1){
        width: 50%;
    }
    .careers-on-the-move .careers-page:not(:first-of-type) .career-footer > div:nth-of-type(2){
        width: 50%;
    }
    .careers-on-the-move .careers-page:not(:first-of-type) .career-footer > div:nth-of-type(3){
        display: none;
    }
}

@media screen and (max-width: 990px){
    .careers-on-the-move .career-btn{
        bottom: 55%;
    }
    .careers-on-the-move .inside-careers .index-intro-text{
        position: static;
        width: 100%;
        -webkit-transform: translate(0,0);
        transform: translate(0,0);
        text-align: left;
        padding: 3em 2em;
    }
    .careers-on-the-move .right-slant{
        display: none;
    }
    .careers-on-the-move .landing-slide{
        display: table-cell;
        text-align: center;
    }
    .careers-on-the-move .careers-landing figure img{
        height: 480px;
    }
    .careers-on-the-move .careers-wrapper{
        height: 100vh;
    }
    .careers-on-the-move .careers-page{
        height: 100vh;
        width: 100%;
        margin: 0;
    }
    .careers-on-the-move .careers-page .desktop-hide,
    .careers-on-the-move .careers-page .desktop-hidden{ 
        display: block;
    }
    [data-query="carousel"]{
        bottom: auto;
        top: 2em;
        display: table;
        width: 100%;
    }
    .careers-on-the-move .careers-page .carousel-buttons{ 
        display: block;
        text-align: center;
    }
    .careers-on-the-move .careers-page .mobile-text-center .carousel-buttons{ 
        display: block;
        text-align: left;
    }
    .careers-on-the-move .careers-page .map-landing .carousel-buttons .view-career i{ 
        background: #00338b;
        color: white;
    }
    .careers-on-the-move .careers-page .mobile-hide{
        display: none !important;
    }
    .careers-on-the-move .mobile-text-center{
        text-align: center;
    }
    
    .careers-on-the-move .big-slant:after{
        display: none;
    }
    .careers-on-the-move .div-middle-slant-left-solid::before{
        display: none;
    }
    .careers-on-the-move .left-margin{
        margin-left: 0;
    }
    .careers-on-the-move .landing-archives{
        display: none;
    }
    .careers-on-the-move .landing-archives a{
        // background: #00338b;
    }
    .careers-on-the-move .height{
        height: 100vh;
    }
    .careers-on-the-move .inside-careers .mobile-index-hide{
        height: auto;
    }
    .careers-on-the-move  .vert-center{
        left: 50%;
        top: 40%;
        -webkit-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
    }

    /*CAREERS PAGE 1*/
    .careers-on-the-move .container{
        width: 80%;
    }
    .careers-on-the-move .career-landing-info{
        padding-top: 1.65em;
        padding-left: 0;
    }
    .careers-on-the-move .career-footer{
        display: none;
        // overflow: auto;
    }

    /*carousels*/
    .careers-on-the-move .carousel-landing-page{
        position: absolute;
        top: 40%;
        left: 0%;
        transform: translateY(-50%);
    }
    .careers-on-the-move .map-mobile-vert{
        position: absolute;
        width: 100%;
        top: 40%;
        transform: translateY(-50%);
    }
    .careers-on-the-move .mobile-100{
        width: 100%;
    }
    .careers-on-the-move .map-width{
        right: 0;
        width: 80%;
        // background: red;
    }
    .careers-on-the-move .careers-page .map-buttons .map-carousel-buttons a i{
        background: #00338b;
        color: white;
    }
    .careers-on-the-move .careers-page .tabbed-icon-nav.numbered-nav.desktop-hide{
        background: rgba(239,239,239,1);
    }
    .careers-on-the-move .careers-page .tabbed-icon-nav.numbered-nav p{
        color: #4d4d4d;
        border-color: #4d4d4d;
    }
    .careers-on-the-move .careers-page .tabbed-icon-nav.numbered-nav a.on p,
    .careers-on-the-move .careers-page .tabbed-icon-nav.numbered-nav a:hover p{
        color: #fff;
        border-color: #fff;
    }
    /*.careers-on-the-move */
    .careers-on-the-move .vert-icon-carousel,
    .careers-on-the-move .tabbed-icon-carousel,
    .careers-on-the-move .horizontal-pic-carousel,
    .careers-on-the-move .horizontal-icon-carousel{
        width: 80vw;
        margin: 0 auto;
    }
    .careers-on-the-move .horizontal-pic-carousel{
        margin: 0 auto;
    }
    .careers-on-the-move .careers-page .vert-icon-nav{
        display: table;
        width: 100%;
        text-align: center;
    }
    .careers-on-the-move .careers-page .vert-icon-nav.desktop-hide,
    .careers-on-the-move .careers-page .tabbed-icon-nav.desktop-hide{
        position: absolute;
        margin-bottom: 0;
        left: 0;
        right: 0;
        z-index: 2;
        // background:rgba(239,239,239,1); 
        background: #4d4d4d;
        box-shadow: inset 0 0 10px #4d4d4d;
    }
    .careers-on-the-move .careers-page .vert-icon-nav li,
    .careers-on-the-move .careers-page .tabbed-icon-nav li{
        display: table-cell;
        transform: skew(-25deg);
    }
    .careers-on-the-move .careers-page .vert-icon-nav a{
        transform: skew(25deg);
    }
    .careers-on-the-move .careers-page .tabbed-icon-nav a{
        transform: skew(0deg);
        width: auto;
    }
    .careers-on-the-move .careers-page .numbered-nav a{
        width: 100%;
        height: auto;
        padding: .75em .5em;
    }
    .careers-on-the-move .careers-page .numbered-nav p{
        color: white;
        transform: skew(25deg);
        border: 1px solid white;
        border-radius: 50%;
        margin-bottom: 0;
        padding: .35em .45em;
        font-size: 1.25em;
        display: inline-block;
    }
    .careers-on-the-move .horizontal-pic-carousel hr{
        width: 80%;
        margin: 2em auto;
    }

    /*CAROUSEL NAV*/
    .careers-on-the-move .tabbed-icon-carousel .section-headlines{
        text-align: left;
    }
    .careers-on-the-move .tabbed-icon-carousel + .carousel-buttons{
        padding-left: 0;
        text-align: center;
    }
    .careers-on-the-move .vert-icon-buttons{
        text-align: center;
    }
    .careers-on-the-move .careers-page .carousel-icons{
        bottom: 60px;
    }
    .careers-on-the-move .careers-page .carousel-icons a{
        margin: 1em 0;
    }
    .careers-on-the-move .careers-page .vert-icon-nav,
    .careers-on-the-move .careers-page .tabbed-icon-nav{
        display: table;
        width: 100%;
        bottom: 60px;
    }
    .careers-on-the-move .vert-icon-nav li,
    .careers-on-the-move .tabbed-icon-nav li{
        display: table-cell;
        text-align: center;
        border-right: 1px solid #666;
    }
    .careers-on-the-move .vert-icon-nav li:last-of-type,
    .careers-on-the-move .tabbed-icon-nav li:last-of-type{
        border-right: none;
    }

    .careers-on-the-move .carousel-buttons a.back-to-bio{
        display: block;
    }
    .careers-on-the-move .vert-icon-nav a{
        border: 1px solid #666;
    }
    .careers-on-the-move .carousel-buttons a{
        // color: transparent;
    }
    .careers-on-the-move .careers-page i{
        position: static;
        width: 22px;
        height: 22px;
        font-size: .5em;
        padding: 1.25em;
        // background: #ffffff;
    }
    .careers-on-the-move .career-thumb-wrapper{
        padding-left: 2em;
        padding-right: 2em;
    }
    .careers-on-the-move .vert-icon-nav.small-icons a{
        padding: .5em;
    }
    .careers-on-the-move .tabbed-icon-nav.small-icons a{
        width: 67px;
        height: 72px;
    }
    .careers-on-the-move .vert-icon-nav.small-icons li{
        margin-right: .5em;
    }
    .careers-on-the-move .vert-icon-nav.small-icons object{
        width: 31px;
        height: 25px
    }
    .careers-on-the-move .nav-over{
        width: auto;
    }

    /*ARROWS*/
    .careers-on-the-move .careers-page i:after{
        display: none;
    }
    .careers-on-the-move .careers-page i:before{
        position: static;
        transform: translate(0,0) rotate(0deg);
        background-color: transparent;
    }
    .careers-on-the-move .careers-page i.icomoon-jacobs-arrow-left:before{
        content:"\e900";
    }
    .careers-on-the-move .careers-page i.icomoon-jacobs-arrow-right:before{
        content:"\e901";
    }
    .careers-on-the-move .carousel-buttons ul{
        margin-bottom: 1em;
    }
    .careers-on-the-move a.small[id*="horizontal-icon"],
    .careers-on-the-move a.small[id*="horizontal-pic"],
    .careers-on-the-move a.small[id*="tabbed-icon"],
    .careers-on-the-move a.small[id*="vert-icon"]{
        font-size: 100%;
    }
    .careers-on-the-move .carousel-buttons a.mobile-light-text,
    .careers-on-the-move .carousel-buttons a.mobile-light-text i,
    .careers-on-the-move .carousel-buttons a.mobile-light-text span{
        color: white;
    }
    .careers-on-the-move .carousel-buttons a.mobile-dark-text,
    .careers-on-the-move .carousel-buttons a.mobile-dark-text i,
    .careers-on-the-move .carousel-buttons a.mobile-dark-text span{
        color: #4d4d4d;
    }
    .careers-on-the-move .carousel-buttons a.mobile-light-icons,
    .careers-on-the-move .carousel-buttons a.mobile-light-icons i{
        color: #00338b;
        padding: .65em;
    }
    .careers-on-the-move .carousel-buttons i{
        background: white;
    }
}

@media screen and (max-width: 480px){
    .careers-on-the-move .careers-wrapper,
    .careers-on-the-move .careers-page,
    .careers-on-the-move .height{
        height: 130vh;
    }
    .careers-on-the-move .jacobs-slideimage-bg{
        background-size: cover;
    }
    [data-query="carousel"]{
        top: auto;
        bottom: 20em;
    }
    .careers-on-the-move .careers-landing figure img{
        height: 300px;
    }
    .careers-on-the-move .tabbed-icon-nav a{
        padding: .6em;
    }
}





