@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?230t52');
  src:  url('../fonts/icomoon.eot?230t52#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?230t52') format('truetype'),
    url('../fonts/icomoon.woff?230t52') format('woff'),
    url('../fonts/icomoon.svg?230t52#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icomoon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icomoon-jacobs-arrow-left:before {
  content: "\e900";
}
.icomoon-jacobs-arrow-right:before {
  content: "\e901";
}

svg [class^="st"]{
  stroke: #c1c1c1;
}
svg:hover [class^="st"]{
  stroke: white;
}
.careers-on-the-move .horizontal-icon-carousel2 .slick-current .the-icon svg [class^="st"]{
    color: stroke;
}